<a href="/stores">Stores</a>
<h2><%= @store.name %> Informtation:</h2>
<h4>Name:</h4>
<h1><strong><%= @store.name %></strong></h1>
<p><strong>Description:</strong><br><br><%= @store.description %></p>
<a href="/stores/<%= @store.id %>/edit_info">Edit store information</a>
