<h1>All of your very many stores</h1>
<h4> as you've created and wanted to see (read) them</h4>
<% @stores.each do |store| %>
  <h2><%= store.name %></h2>
  <p><%= store.description %></p>
<% end %>

<h3><a href='/stores/new'>Make whole new store if you want to!</a></h3>
