<a href="/stores">Back to All Stores</a><br/>
<a href="/products">Back to All Products</a>

<form action="/stores" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="store[sale]" value="false">
  <input type="hidden" name="store[rating]" value="5">
  <h2>What's is your new store?</h2>
  <p>(in terms of name)</p>
  <input type='text' name='store[name]'/><br>
  <p>describe it to me</p>
  <textarea name="store[description]"></textarea><br>
  <p>what's the address?</p>
  <textarea name="store[address]"></textarea><br>
  <input type='submit'/>
</form>
