<h1>Welcome to Store Shop!<h1>

<h2>
  Your one-stop-place where if you want to,<br/>
  you can have multiple stores with a bunch of products<br/>
  associated with those individual stores<br/>
  as opposed to simply<br/>
  to simply having one store where<br/>
  all of your products are all associated<br/>
  with the same store if you want to!
<h2>

<ul>
  <li>View all of your <a href='/stores'>stores!</a></li>
  <li>View all of your <a href='/products'>products!</a></li>
</ul>
