<body style="background-color:yellow;">
  <div style="text-align: center; font-family:'Comic Sans MS'; color:red;">
    <h1>Welcome to Store Shop!<h1>

    <h2>
      Your one-stop-store-shop to create your own store-shops<br/>
      Create products for your stores<br/>
      Filter products by quantity<br/>
      Delete stores, products, both at once if you like<br/>
      And even search through your products and stores by name*!
    <h2>
      <p style="font-size: 10px; margin-top:-20px;">(*query must be an exact match)</p>

    <ul>
      <li>View all of your <a href='/stores'>stores!</a></li>
      <li>View all of your <a href='/products'>products!</a></li>
    </ul>
  </div>
</body>
